body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.show-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
  font-size: 11px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  width: 68%;
}

.show-card-buttons {
  border: 2px solid black;
}

.like-icon {
  max-width: 20px;
  margin: 0;
}

.logo {
  width: 50px;
  height: 50px;
  border: 1px solid;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 2% 15%;
}

.items {
  display: flex;
  gap: 90px;
  list-style: none;
  font-size: 100%;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  border: 1px solid;
  padding-left: 20px;
  width: 100%;
}
